[submodule "3rd/glm"]
	path = 3rd/glm
	url = git@github.com:g-truc/glm.git
[submodule "3rd/glfw"]
	path = 3rd/glfw
	url = git@github.com:glfw/glfw.git
[submodule "3rd/tinyobjloader"]
	path = 3rd/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "3rd/stb"]
	path = 3rd/stb
	url = git@github.com:nothings/stb.git
